mixin tabs-v-mobile(img, title)
  .sec-services__item(data-aos="fade-in-up")
    img(src=img, alt="")
    .sec-services__item-title=title


mixin tabs-v-content(index, active)
  - var isActive = active ? 'active' : ''
  .tabs-v__content-item(data-tabs-content=index class=isActive)
    block 

mixin tabs-v(titles, rtl=false)
  - var rtl = rtl ? 'rtl' : ''
  .tabs-v
    .tabs-v__list(data-tabs class=rtl)
      .tabs-v__list-left(data-aos="fade-right", data-aos-delay="400")
        .tabs-v__content
          block 

      //- .tabs-v__tabs.animate__animated.animate__fadeInRight
      .tabs-v__tabs(data-aos="fade-left" data-aos-delay="400")
        each title, index in titles
          - var isActive = index == 0 ? 'active' : ''
          button.tabs-v__tabs-item(data-tabs-title=index+1 class=isActive)!=title

