mixin tabs-v-mobile(img, title)
  .sec-services__item.ani_fadeInUp.opacity-0
    img(src=img, alt="")
    .sec-services__item-title=title


mixin tabs-v-content(index, active)
  - var isActive = active ? 'active' : ''
  .tabs-v__content-item(data-tabs-content=index class=isActive)
    block 

mixin tabs-v(titles, rtl=false)
  - var rtl = rtl ? 'rtl' : ''
  .tabs-v
    .tabs-v__list(data-tabs class=rtl)
      .tabs-v__list-left.ani_fadeInLeft.opacity-0
        .tabs-v__content
          block 

      .tabs-v__tabs.ani_fadeInRight.opacity-0
        each title, index in titles
          - var isActive = index == 0 ? 'active' : ''
          button.tabs-v__tabs-item(data-tabs-title=index+1 class=isActive)!=title

